<h1>signup</h1>
<form action="/signup" method="POST">
    <input type="text" name="user[name]" placeholder="Full name">
    <input type="text" name="user[email]" placeholder="email">
    <input type="text" name="user[username]" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="signup">
</form>

<li><a href="/signup">Signup</li>